<div class="container mt-5">
  <h1 class="text-center">Forgot Password</h1>

  <div class="card p-4 shadow">
    <div class="mb-3">
      <label class="form-label">Email Address</label>
      <input
        id="emailAddress"
        type="email"
        class="form-control"
        placeholder="Enter your email address"
        [(ngModel)]="email"
      />
    </div>

    <button class="btn btn-primary w-100" (click)="sendRequest()">Login</button>

    <p *ngIf="requestSent" class="mt-3 text-center fw-bold text-danger">
      {{ requestState }}
    </p>
    <p>
      <a routerLink="/login">back to login</a>
    </p>
  </div>
</div>
