<div [class.fixed-header]="showHeader" class="d-flex flex-column align-items-center justify-content-center min-vh-100 bg-light">
  <div *ngIf="!showHeader" class="bg-white shadow-lg rounded-lg p-5 w-100 w-md-75 w-lg-50 text-center">


    <h1 class="display-4 text-primary mb-4">HSZG Chat App</h1>


    <div *ngIf="!loggedIn" class="mb-4">
      <a routerLink="/login" class="btn btn-primary btn-lg me-3">login</a>
      <a routerLink="/register" class="btn btn-outline-primary btn-lg">create account</a>
    </div>

    <div *ngIf="loggedIn" class="mb-4" >
      <a routerLink="/joinRoom" class="btn btn-primary btn-lg me-3">join room</a>
      <a routerLink="/createRoom" class="btn btn-primary btn-lg me-3">create room</a>
      <a (click)="logout()" class="btn btn-primary btn-lg me-3">logout</a>
    </div>

  </div>
</div>
