<div class="full-screen-container">
  <div>
    <h2>{{room}}</h2>
  </div>
  <div>
    <div *ngFor="let msg of messages">
      <div>
        <p>{{msg.sender}}</p>
        <p>{{msg.message}}</p>
        <p>{{msg.timestamp}}</p>
      </div>
    </div>

  </div>
  <div>
    <input
      [(ngModel)]="userInput"
      (keydown)="sendMessage()"
      (input)="onTyping(true)"
      (blur)="onTyping(false)"
      placeholder="Type a message"
    >
    <button (click)="sendMessage()">send</button>
    <a routerLink="/rooms">leave room</a>
  </div>
</div>
