<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">HSZG Chat App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <!-- Show if NOT Logged In -->
        <ng-container *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
        </ng-container>

        <!-- Show if Logged In -->
        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="roomDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Rooms
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="roomDropdown">
              <li>
                <a routerLink="/rooms" class="dropdown-item">Join a Room</a>
              </li>
              <li>
                <a routerLink="/createRoom" class="dropdown-item">Create a Room</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <span class="nav-link text-muted">Welcome, {{ username }}</span>
          </li>
          <li class="nav-item">
            <button class="btn btn-link nav-link" (click)="logout()">Logout</button>
          </li>
        </ng-container>

      </ul>
    </div>
  </div>
</nav>
