<div class="container mt-4">
  <h2 class="mb-4">Available Chat Rooms</h2>

  <div *ngIf="rooms.length === 0" class="text-muted">No rooms found.</div>

  <div class="row">
    <div *ngFor="let room of rooms" class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="room card shadow-sm p-3 h-100">
        <h3 class="text-primary">{{ room.display_name }}</h3>
        <p><strong>ID:</strong> {{ room.id }}</p>
        <p><strong>Creator:</strong> {{ room.creator }}</p>
        <p *ngIf="room.has_password">
          <input type="password" class="form-control" [id]="room.id" placeholder="Enter Password">
        </p>

        <button class="btn btn-primary w-100 mt-auto" (click)="joinRoom(room)">Join Room</button>

        <p *ngIf="userIsCreator(room.creator)">
         <a>this room is yours</a>
        </p>

      </div>
    </div>
  </div>
</div>
